# Default anvil node and order stream endpoint
export RPC_URL="http://localhost:8545"
export ORDER_STREAM_URL="http://localhost:8585"

### Contracts ###
# This will be copied to .env.localnet and filled with `just localnet`

export VERIFIER_ADDRESS=
export SET_VERIFIER_ADDRESS=
export BOUNDLESS_MARKET_ADDRESS=
export HIT_POINTS_ADDRESS=

### Wallets private keys ###
# Note: This is a funded address by default with anvil test configuration (index 3).

export PRIVATE_KEY=""
export ADDRESS=""
